<html>
<body>

<h4 style="margin-left: 45%; margin-top: 50px;">Login to Fam cart</h4>

<form (ngSubmit)="loginCustomer()">
 

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" [(ngModel)]="user.username" placeholder="Enter Username" name="username" required id="username">

    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="user.password" placeholder="Enter Password" name="password" required id="password">
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button (click)="homeRedirect()" type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

</body>
</html>