.form-control{
    border-radius: 3px;
    margin-left: 60px;
    width: 600px;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 46%;
    top: 22px;
    color: rgb(0, 64, 255);
}
.cart-butt{
    position: absolute;
    right: 20%;
    top: 22px;
}
.cart-name{
    position: absolute;
    right: 17%;
    top: 22px;
}
.user-butt{
    position: absolute;
    right: 14%;
    top: 22px;
}
.user-name{
    position: absolute;
    right: 10%;
    top: 22px;
}
.user-profile{
    position: absolute;
    right: 6%;
    top: 22px;
}
.notif-red{
    position: absolute;
    right: 19%;
    top: 24px;
}
